@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  background-color: #75a47f;
  justify-content: center;
  font-family: 'Viga';
}

h1 {
  color: #afd198;
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

.grocery-list {
  display: none; /* Initially hide the list  */
}

.grocery-list.show {
  display: flex;
  background-color: #f7dcb9;
  justify-content: center;
  padding: 25px;
}

.add-form {
  background-color: #fcffe0;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
  border-radius: 5px;
  padding: 5px;
}

.footer {
  display: flex;
  background-color: #75a47f;
  justify-content: space-evenly;
  font-weight: 700;
  padding: 3.2rem 0;
}

.footer button {
  text-transform: uppercase;
  background-color: #afd198;
  border-radius: 5px;
  padding: 5px;
}
